.gameWrapper{
	height: 75%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #acb0be;
	border-radius: 1em;
}

.playingField{
	height: 80%;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
	background-color: #4c4f69;
	margin: 10px;
	gap: 5px;
}

.cardContainer{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
