.flip-card{
	perspective: 1000px;
}

.flip-card-inner{
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card-inner.is-flipped, .flip-card{
	transform: rotateY(180deg);
}

.card-face{
	backface-visibility: hidden;
}

.back-face{
	transform: rotateY(180deg);
}

